streamlit==1.53.1
pandas==2.3.3
numpy==2.2.6
geopandas==1.1.3
shapely==2.1.2
folium==0.20.0
streamlit-folium==0.27.1
matplotlib==3.10.8
scikit-learn==1.8.0
requests==2.33.0
pyyaml==6.0.3
osmnx==2.1.0
pyproj==3.7.2
openpyxl==3.1.5
urllib3==2.6.3
